@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*
{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Mono;
}
body
{
    background-color: #e26960;
    
}
#app
{
    margin-top: 10%;
}
button
{
    margin-top: 100px;
    padding: 20px;
    font-size: 50px;
    border-radius: 10px;
    background-color: green;
    margin-bottom: 50px;
}
h1
{
    text-align: center;
    padding: 40px;
    font-size: 60px;
}
